* {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(186, 250, 185), rgb(233, 210, 186))
}

.title {
    color: black;
    
    h1 {
        font-size: 50px;
        font-weight: 800;
        display: flex;
        justify-content: center;
    }

    h2 {
        font-size: 40px;
        font-style: italic;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }

    h3, h4, h5 {
        font-size: 15px;
        font-weight: 400;
        font-style: italic;
        display: flex;
        justify-content: center;
    }
}

.status {
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 800;
    font-style: italic;
    color:rgb(116, 19, 16);
}

.restart {
    border-radius: 5px;
    font-weight: bolder;
    height: 30px;
    width: 100px;
    background-color: rgb(214, 178, 141);
}

.restart:hover {
    background-color: white;
    cursor: pointer;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 170px);
    grid-template-columns: repeat(3, 170px);

    .grid {
        background-color: rgb(167, 131, 95);
        border: 2.5px solid black;
        font-size: 150px;
    }
    
    .grid:hover {
        cursor: pointer;
        background-color: rgb(158, 112, 67);
    }
}

// .container {
//     display: grid;
//     justify-content: center;
//     align-content: center;
//     padding-top: 20px;
//     grid-template-columns: repeat(3, 170px);
//     grid-template-rows: repeat(3, 170px);
// }

// .grid {
//     background-color: rgb(167, 131, 95);
//     border-color: black;
//     border-width: 3px;
//     font-size: 150px;
//     color: rgb(56, 36, 16);
//     font-style: bolder;
// }

// .grid:hover {
//     cursor: pointer;
//     background-color: rgb(158, 112, 67);
// }
