* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right, #bafab9, #e9d2ba);
}

.title {
  color: black;
}
.title h1 {
  font-size: 50px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}
.title h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.title h3, .title h4, .title h5 {
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.status {
  height: 50px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
  color: #741310;
}

.restart {
  border-radius: 5px;
  font-weight: bolder;
  height: 30px;
  width: 100px;
  background-color: #d6b28d;
}

.restart:hover {
  background-color: white;
  cursor: pointer;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 170px);
  grid-template-columns: repeat(3, 170px);
}
.container .grid {
  background-color: #a7835f;
  border: 2.5px solid black;
  font-size: 150px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-content: center;
}
.container .grid:hover {
  cursor: pointer;
  background-color: #9e7043;
}